.clients {
  padding: 60px 0;
  
  @media screen and (min-width: $desktop) {
    padding: 94px 0;
  }
}

.clients-title {
  margin-bottom: 30px;
  font-size: 28px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0.84px;
  text-align: center;
  color: $mainTextColor;

   @media screen and (min-width: $desktop) {
font-size: 36px;
margin-bottom: 50px;
letter-spacing: 1.08px;
  }
}

.clients-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.client-item {
  height: 92px;
  flex-basis: calc((100% - 30px) / 2);

  @media screen and (min-width: $tablet) {
     flex-basis: calc((100% - 60px) / 3);
  }

  @media screen and (min-width: $desktop) {
     flex-basis: calc((100% - 180px) / 6);
  }
}

.client-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 3px;
  border: 1px solid $socialsBrandColor;
  fill: $socialsBrandColor;

  &:hover,
  &:focus{
     border: 1px solid $accentColor;
  fill: $accentColor;
  }
}
