
  $mainTextColor: #212121;
  $secondTextColor: #757575;
  $accentColor: #2196f3;
  $accentClHover: #188ce8;
  $bgHeroFooterColor: #2f303a;
  $bgSectionColor: #f5f4fa;
  $addressColor: rgba(255, 255, 255, 0.6);
  $socialsBrandColor: #AFB1B8;
  $whiteColor: #fff;
  $transirionTimeAndFunction: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  $primaryFont: "Roboto", sans-serif;
  $secondaryFont: "Raleway", sans-serif;
  $mobile: 480px;
  $tablet: 768px;
  $desktop: 1200px;




